// Color scheme lightblue by Tailwind
$white: #ffffff;
$color-scheme-50:  #f3f9fc;
$color-scheme-100: #e7f2f7;
$color-scheme-200: #c9e4ee;
$color-scheme-300: #add8e6;
$color-scheme-400: #62b5ce;
$color-scheme-500: #3e9cb9;
$color-scheme-600: #2e7e9b;
$color-scheme-700: #26667e;
$color-scheme-800: #235669;
$color-scheme-900: #224858;
$color-scheme-950: #162f3b;
$black: #000000;

$body-bg: $white;
$body-color: $color-scheme-900;
$headings-color: $color-scheme-950;
$success: #0b5c0d;
$danger: #b10303;
$link-color: red;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
