@import 'base';
@import "colors";
@import "../../node_modules/bootstrap/scss/bootstrap";

#app {
  max-width: 1024px;
  margin: 0 auto;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: $color-scheme-100;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: $color-scheme-100;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
